{% extends 'layout.html' %}
{% block title %} CaseShare | Features {% endblock %}
{% block body %}
<body>
    <div id="main-container" class="container bg-light mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 form1">
                   <h3>Features</h3>
                   <p>Here are the 3 top features CaseShare consists of</p>
            </div>
        </div>
    </div>
    <div id="main-container" class="container bg-light mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 form1">
                   <h3>Features</h3>
                   <p>Here are the 3 top features CaseShare consists of</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}